.digital-page {
 background-image:url("https://images.unsplash.com/photo-1524995997946-a1c2e315a42f");
  height: 100vh;
  padding: 20px;
  background-size: cover;
  background-position: center;

}

/* HEADER */
.digital-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f4c81;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.back-btn {
  background: white;
  color: #0f4c81;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

/* GRID LAYOUT */
.digital-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
  gap: 20px;
}

/* CARD STYLE */
.digital-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.digital-card:hover {
  transform: translateY(-5px);
}

.digital-card h3 {
  color: #0f4c81;
  margin-bottom: 10px;
}

.digital-card p {
  margin-bottom: 15px;
  color: #333;
}

.digital-card button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  background: #0f4c81;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.digital-card button:hover {
  background: #08345a;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .digital-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .digital-grid {
    grid-template-columns: 1fr;
  }
}